<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---CSS Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Trabajo final BBDD- User {{ data }}</title>
    <style>
        :root {
            --main-bg-color: #009d63;
            /*--main-text-color: #009d63;*/
            --main-text-color: #202020;
            --second-text-color: #bbbec5;
            /*--second-bg-color: #c1efde;*/
            --second-bg-color: #f3f3f3;
        }

        .primary-text {
            color: var(--main-text-color);
        }

        .second-text {
            color: var(--second-text-color);
        }

        .primary-bg {
            background-color: var(--main-bg-color);
        }

        .secondary-bg {
            background-color: var(--second-bg-color);
        }

        .rounded-full {
            border-radius: 100%;
        }

        #wrapper {
            overflow-x: hidden;
            background-color: #f5f5f5;
            /*background-image: linear-gradient(
                to right,
                #baf3d7,
                #c2f5de,
                #cbf7e4,
                #d4f8ea,
                #ddfaef); */
        }

        #sidebar-wrapper {
            min-height: 100vh;
            margin-left: -15rem;
            -webkit-transition: margin 0.25s ease-out;
            -moz-transition: margin 0.25s ease-out;
            -o-transition: margin 0.25s ease-out;
            transition: margin 0.25s ease-out;
        }

        #sidebar-wrapper .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }

        #sidebar-wrapper .list-group {
            width: 15rem;
        }

        #page-content-wrapper {
            min-width: 100vw;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }

        #menu-toggle {
            cursor: pointer;
        }

        .list-group-item {
            border: none;
            padding: 20px 30px;
        }

        .list-group-item.active {
            background-color: transparent;
            color: var(--main-text-color);
            font-weight: bold;
            border: none;
        }

        @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }
        }
    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i class="fa-solid fa-folder-open me-2"></i>UNALM</div>
            <div class="list-group list-group-flush my-3">
                <a href="/db/{{data.2}}" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="/pag1/{{data.2}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-project-diagram me-2"></i>Página 1</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-chart-line me-2"></i>Página 2</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-paperclip me-2"></i>Página 3</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-shopping-cart me-2"></i>Página 4</a>
                <a href="/" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--NAV INICIO-->
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">DASHBOARD</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>{{data.0.1}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--FIN---------------------NAV-->
            <div class="container-fluid px-4">
                <div class="row g-3 my-2">

                    <div class="col-md-3">
                        <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                            <div>
                                <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                            </div>
                            <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color:#28a745;">
                            <div>
                                <h3 class="fs-2" style = "color: white ;">53%</h3>
                                <p class="fs-5" style = "color: white ;">Bounce Rate</p>
                            </div>
                            <i class="fa-sharp fa-solid fa-chart-simple primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color:#17a2b8;">
                            <div>
                                <h3 class="fs-2" style = "color: white ;">1021</h3>
                                <p class="fs-5" style = "color: white ;">Documents</p>
                            </div>
                            <i class="fa-solid fa-folder-open primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color: #dc3545 ;">
                            <div>
                                <h3 class="fs-2" style = "color: rgb(255, 255, 255) ;">65</h3>
                                <p class="fs-5" style = "color: rgb(255, 255, 255) ;">Unique Visitors</p>
                            </div>
                            <i class="fa-solid fa-chart-pie primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                        </div>
                    </div>

                </div>

                <div class="row my-5">
                    <div class="d-flex mb-3">
                        <h3 class="fs-4 me-5">REGISTRO DE DOCUMENTOS</h3>
                        <button class="btn btn-sm btn-secondary me-3" type="button" data-bs-toggle="modal" data-bs-target="#ModalRegistro">Registrar</button>
                        <button class="btn btn-sm btn-secondary me-3" type="button" data-bs-toggle="modal" data-bs-target="#ModalTraslado">Trasladar</button>
                        <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#ModalDerivo">Derivar</button>
                    </div>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">IdDoc</th>
                                    <th scope="col">Emisor</th>
                                    <th scope="col">Receptor</th>
                                    <th scope="col">Proveido</th>
                                    <th scope="col">Motivo</th>
                                    <th scope="col">Palabra clave</th>
                                    <th scope="col">Tipo de documento</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data.1 %}
                                <tr>
                                    <td>{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                    <td>{{ i.5 }}</td>
                                    <td>{{ i.6 }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#Modal_editar_{{i.0}}">Editar</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Modal_eliminar_{{i.0}}">Eliminar</button>
                                    </td>
                                </tr>
                                {% endfor %}                       
                            </tbody>
                            
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!--MODALS-->


    <!-- Modal -->
    <!--ModalRegistro-->
    <div class="modal fade" id="ModalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">REGISTRAR DOCUMENTO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <form action="/db/{{data.2}}" method = "POST">   
                    <div class="modal-body">
        
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="ID Documento" aria-label="First name" name = "r_id_doc">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Emisor" aria-label="Last name" name = "r_emisor">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col ">
                                <input type="text" class="form-control" placeholder="Receptor" aria-label="First name" name = "r_receptor">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Proveido" aria-label="Last name" name = "r_proveido">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col ">
                                <input type="text" class="form-control" placeholder="Motivo" aria-label="First name" name = "r_motivo">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col ">
                                <input type="text" class="form-control" placeholder="Tipo de clave" aria-label="First name" name = "r_tipo_clave">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Tipo de documento" aria-label="Last name" name = "r_tipo_doc">
                            </div>
                        </div>

                        <input type="file" class="form-control" aria-label="Subir documento" name = "file_doc">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--ModalTraslado-->
    <div class="modal fade" id="ModalTraslado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                TRASLADO
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--ModalDerivo-->
    <div class="modal fade" id="ModalDerivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                DERIVO
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% for i in data.1 %}
    <!--MODAL EDITAR Y ELIMINAR-->
             <!-- Modal_EDITAR -->
                    <div class="modal fade" id="Modal_editar_{{i.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">EDITAR CORREO</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/editar/{{data.2}}/{{i.0}}" method = "POST">
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="ID Documento" aria-label="First name" name = "r_id_doc" value="{{i.0}}">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Emisor" aria-label="Last name" name = "r_emisor" value="{{i.1}}">
                                            </div>
                                        </div>
                
                                        <div class="row mb-3">
                                            <div class="col ">
                                                <input type="text" class="form-control" placeholder="Receptor" aria-label="First name" name = "r_receptor" value="{{i.2}}">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Proveido" aria-label="Last name" name = "r_proveido" value="{{i.3}}">
                                            </div>
                                        </div>
                
                                        <div class="row mb-3">
                                            <div class="col ">
                                                <input type="text" class="form-control" placeholder="Motivo" aria-label="First name" name = "r_motivo" value="{{i.4}}">
                                            </div>
                                        </div>
                
                                        <div class="row mb-3">
                                            <div class="col ">
                                                <input type="text" class="form-control" placeholder="Tipo de clave" aria-label="First name" name = "r_tipo_clave" value="{{i.5}}">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Tipo de documento" aria-label="Last name" name = "r_tipo_doc" value="{{i.6}}">
                                            </div>
                                        </div>
                
                                        <input type="file" class="form-control" aria-label="Subir documento" name = "file_doc">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Editar documento</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal_ELIMINAR -->
                    <div class="modal fade" id="Modal_eliminar_{{i.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">ELIMINAR CORREO</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>¿Seguro que desea eliminar?</h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <a href="/eliminar/{{data.2}}/{{i.0}}" class="btn btn-danger" role="button">Eliminar correo</a>
                                </div>
                            </div>
                        </div>
                    </div>
    {% endfor %}
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    <!---JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/a741ca24aa.js" crossorigin="anonymous"></script>
</body>
</html>